#root {
  max-width: 1280px;
  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #213547;
  background-color: #ffffff;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.header{
  justify-self: center;
  grid-area:title;
}
.main-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto ;
  grid-template-areas:
  "title title";

}