.cv-div{
    border: 2px solid rgb(0, 132, 255);
    border-radius: 20px;
    padding: 20px;

}
.my-name{
    height: min-content;
}
.top-ul{
  list-style: none;
  justify-items: start;
  align-self: start;
  background-color: rgb(153, 153, 153);
  padding-left: 5px;
  color: white;

}
h3{
   justify-self: start;
    padding-left: 5px;
}

.experience-info{
   justify-self: start; 
}
.education-info{
    justify-self: start; 
}
