.cv-form{
    background: #d6d6d6;
    background:linear-gradient(0deg,rgba(214, 214, 214, 1) 0%, rgba(249, 249, 249, 1) 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1em;
    padding: 1em;
    border-radius: 20px;
    margin:1em;
    max-width: 800px;
    grid-template-areas: 
    "title title";
    align-self: start;

}
.cv-form:focus{
    outline: 2px solid rgb(0, 132, 255);
    outline-offset: -2px;
}
.cv-form:hover{
    outline: 2px solid rgb(0, 132, 255);
    outline-offset: -2px;
}
.title{
    grid-area: title;
}

.label-field{
    grid-area: label;
}
.input-field{
    padding: 10px;
    border: none;

    
}

.input-field:hover{
    border-bottom: 2px solid rgb(0, 132, 255);
    outline-offset: -2px;
}
.input-field:focus{
    border: none;
    border-bottom: 2px solid rgb(0, 132, 255);  
    outline-offset: -2px;
}
.input-field:active{
    border: none;
}