.cv-form{
    background: #d6d6d6;
    background:linear-gradient(0deg,rgba(214, 214, 214, 1) 0%, rgba(249, 249, 249, 1) 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1em;
    padding: 2em;
    border-radius: 20px;
    margin:5em;
    max-width: 800px;
    grid-template-areas:
    "title title";
}
.cv-form:focus{
    outline: 2px solid rgb(0, 132, 255);
}
.cv-form:hover{
    outline: 2px solid rgb(0, 132, 255);
}
.title{
    grid-area: title;
}
.input-field{
    padding: 10px;
    border: none;
    
    

}
.input-field:hover{
    border-bottom: 2px solid rgb(0, 132, 255);
}
.input-field:focus{
    border: none;
    border-bottom: 2px solid rgb(0, 132, 255);  
}
.input-field:active{
    border: none;
}